[Unit]
Description=Resilio Sync
After=network.target local-fs.target docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a resilio-sync
ExecStop=/usr/bin/docker stop -t 10 resilio-sync
TimeoutStartSec=120
TimeoutStopSec=60

[Install]
WantedBy=Multi-user.target
